/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-title {
  margin: 30px;
}

p {
  font-size: 13px;
  margin: 30px;
  padding-left: 50px;
}

a {
  color: pink;
}

.index-title {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 5px;
}

table {
  font-size: 13px;
  line-height: 30px;
  table-layout: auto;
  margin: 10px 30px;
}

.table-title {
  width: 200px;
}

.table-body {
  width: 400px;
}

td {
  width :40px;
  text-align: left;
}

.new-title {
  margin: 20px;
}

form {
  padding: 5px 30px;
}

input {
  display: block;
}

h5 {
  padding: 3px;
}

.show-click {
  margin: 30px;
}

.edid-title {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.edit-click {
  margin-left: 30px
}

.new-title {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 5px;
}

li {
  margin-left: 40px;
  color: red;
}